body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #3a4447;
  padding: 32px;
}

h1 {
  color: #3a4447;
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
}

h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #293133;
}

p {
  margin: 16px 0;
}

#elemento-p-centralizado {
  text-align: center;
}

a {
  color: #3a4447;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 32px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

li {
  margin-bottom: 8px;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
